<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876190097687-9052bfbs5j1umpanq8j9bmds6umd438b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876190097687-9052bfbs5j1umpanq8j9bmds6umd438b</string>
	<key>API_KEY</key>
	<string>AIzaSyA45jBoL_xhjTqPkHKrtj1VLlQmzyuK0Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>876190097687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Socials</string>
	<key>PROJECT_ID</key>
	<string>socials-7ea05</string>
	<key>STORAGE_BUCKET</key>
	<string>socials-7ea05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876190097687:ios:b1424419735b128d3a1752</string>
</dict>
</plist>